.content1 {
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttongreet {
    background-color: red;
    padding: 30px;
}

.buttongreet:hover {
    opacity: 60%;
    cursor: pointer;
}

.partypopper {
    width: 50px;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content2 {
    display: flex;
    flex-direction: column;
}

.buttongame {
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px;
}

.indexPage {
    text-align: center;
    font-family: 'Trebuchet MS';
    background-color: aliceblue;
}

#spinner {
    width: 100px;
    height: 100px;
}