body {
    background-image: url("media/blackjack_media/background-image-dark.jpg");
}

.partypopper {
    width: 50px;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}

.content2 {
    display: flex;
    flex-direction: column;
}

.buttongame {
    padding: 10px;
}

h1 {
    font-size: 90px;
    font-family: 'times new roman';
}

.indexPage {
    text-align: center;
    background-color: aliceblue;
}

.playGame {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    background-color: rgb(151, 6, 35);
    cursor: pointer;
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: fantasy;
    letter-spacing: 3px;
}

.topText {
    padding-bottom: 40px;
}

.topP {
    font-size: 30px;
}

/* ///////////// MEDIA QUERIES //////////// */

@media all and (max-width: 600px) {

    .indexPage {
        align-items: center;
        text-align: center;
    }

    .h1 {
        font-size: 15rem;
    }

}
