<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackjack</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blackjack.css') }}">

</head>

<body class="bg">

        <img src="../static/media/dealer/annoying-dealer.png" class="harley">

    <div class="game-window">
        <h2 class="players">Dealer: <span id="dealer-sum"></span></h2>
        <div id="dealer-cards" class="dealercards">
            <img id="hidden" src="../static/media/cards/BACK.png">
        </div>

        <h2 class="players"> You: <span id="your-sum"></span></h2>
        <div id="your-cards"></div>

        <br>
        <button id="hit">Hit</button>
        <button id="stay">Stay</button>
        <p id="results"></p>
    </div>
        <button id="playAgain" class="playagain">Play Again?</button>

        <form action="/save_score", method="post">
            <input type="text" id="username" placeholder="Name">
            <input type="text" id="score" placeholder="Score">
            <button type="submit">Save score</button>
        </form>
    
</body>

<script src="{{ url_for('static', filename='blackjack.js') }}"></script>
</html>