<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Index</title>
</head>
<body class="indexPage">
    <h1> Ridiculous Website </h1>
    <div class="container">
        <div class="content1">
            <div class="greeting">
                <button onclick="myFunction()" class="buttongreet"> click to greet </button>
            </div>        
            
            <button onclick="partyTime()" class="buttonconfetti">
            <img src="static/media/partypopper.png" class="partypopper">
                    click to celebrate
                    </button>
            <audio id="confettiSound" src="årsoppgavepractice/media/confetti-pop.mp3"></audio>
        </div>

    <div class="content2">
        <input type="checkbox" id="checkbox" name="item1" value="item">
        <label for="item1"> Something to do </label>
    </div>

    <a href="blackjack.html">
        <button>Bored of this website? Play a game!</button>
    </a>

    </div>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>