<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Index</title>
</head>
<body class="indexPage">
    <div class="topText">
        <h1> Play Blackjack </h1>
        <p class="topP"> Web-server version of Blackjack. </p>
    </div>
    <div class="container">
    <a href="/blackjack">
        <button class="playGame">Play Game</button>
        </div>

    </a>
        <button onclick="partyTime()" class="buttonconfetti">
        <img src="../static/media/partypopper.png" class="partypopper">
        </button><audio id="confettiSound" src="{{ url_for('static', filename='../static/media/confetti-pop.mp3') }}"></audio>


</body>
<script>
    const audioPath = "{{ url_for('static', filename='media/confetti-pop.mp3') }}";
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>