.content1 {
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.buttongreet {
    background-color: red;
    padding: 30px;
}

.buttongreet:hover {
    opacity: 60%;
    cursor: pointer;
}

.partypopper {
    width: 50px;
}

.container {
    display: flex;
    gap: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content2 {
    display: flex;
    flex-direction: column;
}

.buttongame {
    padding: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 30px;
}

/**/

body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #228B22;
    color: white;
}

#game-area {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px;
}

#dealer, #player {
    border: 2px solid white;
    padding: 10px;
    width: 200px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
